.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.break-line p {
  display: inline;
  margin: 0;
  white-space: pre;
  font-size: 60px;
  line-height: 4.5rem;
}

/* For screens below the medium range */
@media (max-width: 767px) {
  .break-line p {
    font-size: 30px;
    line-height: 2.5rem;
  }
}

.break-line span {
  display: inline;
  margin: 0;
  white-space: pre;
  font-size: 60px;
  line-height: 4.5rem;
}
.headingStyle {
  font-size: 36px;
  text-align: start;
  line-height: 3rem;
  font-family: Roboto;
}
.serviceHeading {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  font-family: Oswald;
}
.headings {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.pOne {
  width: 35%;
  color: white;
  font-size: 22px;
  text-align: start;
  font-family: Lato;
  padding-left: 40px;
}
.pTwo {
  width: 65%;
  color: white;
  font-size: 56px;
  text-align: start;
  font-family: Lato;
}

.imageStyle {
  width: 39%;
  height: 60vh;
  background-position: center center;

  transform: scale(2.5);
  transform-origin: center center;
}

.marketingHeading {
  font-size: 60px;
  font-weight: 300;
  font-family: Lato;
  text-align: left;
  line-height: 5rem;
}

.EmployImages {
 
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmployImages img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}


.aboutImage{
 
  width: 100%;
  height: 200%;
  background-position: center top;
  background-size: 100% auto;
  transform: scale(1.5);
  transform-origin: center bottom;
}
.aboutHeading{
  font-size: 44px;
  text-align: left;
  line-height: 3.4rem;
}
.button{
  text-decoration: none;
  color: #474747;
  border: 1px solid #474747;
  background-color: transparent;
  padding: 16px;
}



/* For screens in the medium to small range */
@media (max-width: 767px) {
  .headings .pOne {
    width: 100%;
    text-align: center;
    padding-left: 4px;
  }
  .headings .pTwo {
    width: 100%;
    font-size: 24px;
  }
  .imageStyle {
    width: 95%;
    height: 35vh;
    background-position: center center;

    transform: scale(1.2);
    transform-origin: center center;
  }
  .marketingHeading {
    font-size: 35px;
    font-weight: 300;

    line-height: 3rem;
  }
}
